// Dark theme
:root {
  --background-hard: 25, 23, 36; // #191724
  --background: 35, 33, 54; // #232136
  --midground: 42, 39, 63; // #2a273f
  --foreground: 57, 53, 82; // #393552
  --text-low: 110, 106, 134; // # 6e6a86
  --text-medium: 144, 140, 170; // #908caa
  --text-high: 224, 222, 244; // #e0def4
  --red: 235, 111, 146; // #eb6f92
  --green: 62, 143, 176; // #3e8fb0
  --yellow: 246, 193, 119; // #f6c117
  --blue: 156, 207, 216; // #9ccfd8
  --magenta: 196, 167, 231; // #c4a7e7
  --cyan: 234, 154, 151; // #ea9a97
  --hl-low: 42, 40, 62; // #2a283e
  --hl-medium: 68, 65, 90; // #44415a
  --hl-high: 86, 82, 110; // #56526e
}

// Light theme
.light {
  --background-hard: 250, 244, 237; // #f4f4ed
  --background: 250, 244, 237; // #f4f4ed
  --midground: 255, 250, 243; // #fffaf3
  --foreground: 242, 233, 222; // #f2e9e1
  --text-low: 152, 147, 165; // #9893a5
  --text-medium: 121, 117, 147; // #797593
  --text-high: 87, 82, 121; // #575279
  --red: 180, 99, 122; // #b4637a
  --green: 40, 105, 131; // #286983
  --yellow: 234, 157, 52; // #ea9d34
  --blue: 86, 148, 159; // #56949f
  --magenta: 144, 122, 169; // #907aa9
  --cyan: 215, 130, 126; // #d7827e
  --hl-low: 244, 237, 232; // #f4ede8
  --hl-medium: 223, 218, 217; // #dfdad9
  --hl-high: 206, 202, 205; // #cecacd
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gelasio";
  src: url("/fonts/Gelasio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff"),
    url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Fonts
$sans: "Lexend", "Open Sans", sans-serif;
$serif: "Gelasio", "Vollkorn", serif;
$code: "JetBrains Mono", monospace;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: $sans;
  line-height: 1.8;
  background-color: rgb(var(--background));
  color: rgb(var(--text-high));
  scroll-behavior: smooth;
  z-index: 0;
}

h1 {
  margin: 0 0 0.5rem;
  font-size: 1.7rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(var(--blue));

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: rgb(var(--magenta));
  }
}

pre {
  border: 0.15rem solid rgb(var(--green));
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem rgb(var(--green));
  margin-bottom: 1.5rem;
  padding: 1rem;
}

code {
  color: rgb(var(--cyan));
  font-family: $code;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto 1.5rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

ul {
  margin: MIN(2.13vw, 16px) 0 MIN(2.13vw, 16px) MIN(3.2vw, 24px);
  padding-left: MIN(3.2vw, 24px);

  li {
    margin-bottom: MIN(2.13vw, 16px);
  }
}

ol {
  margin: MIN(2.13vw, 16px) 0 MIN(2.13vw, 16px) MIN(3.2vw, 24px);
  padding-left: MIN(3.2vw, 24px);

  li {
    margin-bottom: MIN(2.13vw, 16px);
  }
}

blockquote {
  margin: 0 0 MIN(2vw, 15px);
  padding: MIN(1vw, 7.5px) MIN(2vw, 15px);
  border-left: MIN(1.6vw, 12px) solid rgb(var(--hl-high));
  border-radius: 0.3rem;
  background-color: rgba(var(--hl-high), 0.3);

  p {
    margin: 0;
  }
}

.note {
  margin: -16px 0 MIN(4vw, 30px);
  padding: MIN(1vw, 7.5px) MIN(2vw, 15px);
  border-radius: 0.3rem;

  &.info {
    border-left: MIN(1.6vw, 12px) solid rgb(var(--green));
    background-color: rgba(var(--green), 0.3);

    .icon {
      color: rgb(var(--green));
    }
  }

  &.warn {
    border-left: MIN(1.6vw, 12px) solid rgb(var(--red));
    background-color: rgba(var(--red), 0.3);

    .icon {
      color: rgb(var(--red));
    }
  }

  .icon {
    float: right;
    font-weight: bold;
    margin: 0 0 MIN(2vw, 15px) MIN(2vw, 15px);
  }

  p {
    margin: 0;
  }
}

hr {
  height: 0.2rem;
  margin: 2rem 0;
  background-color: rgb(var(--hl-high));
  border: 0;
}
