---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
---
<header>
	<nav>
		<Hamburger />
		<Navigation />
	</nav>
</header>

<script>
	import "../scripts/menu.ts";
</script>