---
interface Props {
  title: string;
  description?: string;
  url: string;
  pubDate: string;
}
const { title, description, url, pubDate } = Astro.props;
---

<div class="post">
  <a href={url}>{title} rel="prefetch"</a>
  <p class="date">{pubDate}</p>
  <p class="description">{description}</p>
</div>

<style lang="scss">
  .post {
    .date {
      font-size: 0.9rem;
      margin: 0;
      color: var(--subtle);
    }

    .description {
      font-size: 0.9rem;
      margin-top: 0;
    }
  }
</style>
