---
import { Image } from "astro:assets";
import profileImage from "@assets/profile.webp";
import publicKey from "@assets/publickey.txt";

const profileAlt =
  'Profile picture: a pre-school headshot of me wearing a "Thomas the Tank Engine" knitted jumper in front of a blue cloud background';
---

<aside>
  <Image
    class="profile"
    src={profileImage}
    width={192}
    height={236}
    alt={profileAlt}
  />
  <dl class="locations">
    <dt>email</dt>
    <dd>
      <a class="email" href="mailto:richard@rshalford.com"
        >richard@rshalford.com</a
      >
    </dd>
    <dt>fediverse</dt>
    <dd>
      <a class="fediverse" href="https://mastodon.social/@rshalford" rel="me"
        >mastodon.social</a
      >
    </dd>
    <dt>source</dt>
    <dd>
      <a class="source" href="https://github.com/rsHalford">rsHalford</a>
    </dd>
    <dt>pgp</dt>
    <dd>
      <a class="pgp" href={publicKey}>5C203EA921A470C0</a>
    </dd>
  </dl>
  <small>
    <p>
      A self-taught software developer who is interested in using Go and Python
      for developing applications across all platforms. With experience
      scripting in Bash, creating apps with Flutter, designing frontends with
      JavaScript. I'm mostly interested in learning new languages and
      development tools.
    </p>
  </small>
</aside>

<style lang="scss">
  aside {
    margin: 1rem auto 0;
    width: 17rem;

    .profile {
      display: block;
      width: 192px;
      height: 236px;
      margin: 0 auto;
      border-radius: 0.3rem;
      filter: drop-shadow(0 0.2rem 0.1rem #1f1d2e);
    }

    .locations {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0.6rem 1rem;
      font-size: 0.9rem;
      margin-top: 1.2rem;

      dd {
        margin: 0;
      }
    }

    small > p {
      text-align: justify;
      text-justify: inter-word;
    }
  }

  @media screen and (max-width: 636px) and (min-width: 501px) {
    aside {
      margin-top: 0;
      width: 95vw;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "profile locations"
        "small small";
      column-gap: 1rem;

      .profile {
        grid-area: profile;
        width: 144px;
        height: 177px;
        margin: 0;
      }

      .locations {
        grid-area: locations;
      }

      small {
        grid-area: small;
      }
    }
  }

  @media screen and (max-width: 500px) {
    aside {
      margin-top: 0;
      width: 85vw;

      .profile {
        width: 144px;
        height: 177px;
      }

      .locations {
        font-size: 0.8rem;
      }
    }
  }
</style>
