---
interface Props {
  platform: string;
  tld: string;
  username: string;
}
const { platform, tld, username } = Astro.props;
---
<a href={`https://www.${platform}.${tld}/${username}`} target="_blank">{platform}</a>

<style lang="scss">
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>