---
interface Props {
  tags: Array<string>;
}
const { tags } = Astro.props;
---

<div class="tags">
  <h3>Tags</h3>
  <div class="list">
    {
      tags.map((tag: string) => (
        <a href={`/tags/${tag}`} rel="prefetch">
          #{tag}
        </a>
      ))
    }
  </div>
</div>

<style lang="scss">
  .tags {
    grid-area: tags;

    h3 {
      text-align: left;
      font-size: MIN(3.2vw, 24px);
      color: rgb(var(--text-high));
      padding: 0 0 MIN(1vw, 7.5px) MIN(1vw, 7.5px);
    }

    .list {
      a {
        display: inline-block;
        background-color: rgb(var(--green));
        color: rgb(var(--text-high));
        font-size: MIN(2vw, 15px);
        text-align: center;
        text-decoration: none;
        margin: MIN(0.427vw, 3.2px) MIN(0.233vw, 1.6px);
        padding: MIN(0.8vw, 6.4px) MIN(1.7vw, 12.75px);

        &:hover {
          color: rgb(var(--text-low));
          background-color: rgb(var(--blue));
        }
      }
    }
  }
</style>
