---
import "@styles/global.scss";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <BaseHead pageTitle={pageTitle} />
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
