---
import "@styles/global.scss";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { title, url, type, description } = Astro.props;
---

<html lang="en">
  <BaseHead title={title} url={url} type={type} description={description} />
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
